.even{
  background-color: #ebdbb2;
}
.odd{
  background-color: #a89984;
}
tr{
  width:50%;
}
form {
  font-family: 'Kreon', serif;
  color: #665c54;
}

table{
  width: 100%;
}
.surveyResults th{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;
}
input {
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 90%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
select{
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 95%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
input:enabled {
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 95%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
select:enabled {
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 95%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
input:active {
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 95%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
select:active {
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 95%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
.buttons{
  background-color: #427b58;
  color: #ebdbb2;
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
