body {
  margin: 0;
  padding: 0;
}
body{
  color:#282828;
  margin-bottom: 2em;
  font-family: 'Kreon', serif;
  background-color: #ebdbb2;
}
h1{
  font-family: 'Luckiest Guy', cursive;
}
h3{
  font-family: 'Luckiest Guy', cursive;
}
center{
  margin-bottom: 2em;
  max-width: 1000px;
  text-align: center;
  margin:auto;
}
.content{
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

.error h3{
  color: #cc241d;
}

.err{
  color: #cc241d;
}

/*HEADER*/
header {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  color: #cc241d;
  background-color: #282828;
}
header h1{
  margin-bottom: -5px;
  margin-top: -5px;
}
header h3{
  margin-bottom: 0px;
  margin-top: -5px;
}
header #logo{
  width: 5%;
}
.motto{
  font-style: italic;
}
.navMenu{
  font-family: 'Kreon', serif;
  text-align: center;
  width:100%;
  background-color: #3c3836;
}
.navMenu li{
  color: #f9f5d7;
  display: inline;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: 1em;
  margin-right: 1em;
}
.navMenu a{
  text-decoration: none;
  cursor: pointer;
}

.navMenu a:active{
  color:#076678;
}
.navMenu li:hover{
  background-color: #427b58;
}
/*FOOTER*/
footer{
  color: #f9f5d7;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
  text-align: right;
}
footer h5{
  color: color: #f9f5d7;;
}

.even{
  background-color: #ebdbb2;
}
.odd{
  background-color: #a89984;
}
tr{
  width:50%;
}
form {
  font-family: 'Kreon', serif;
  color: #665c54;
}

table{
  width: 100%;
}
.surveyResults th{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;
}
input {
  background-color: #ebdbb2;
  border-color: #665c54;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 60%;
  font-family: 'Kreon', serif;
  font-size: 1em;
  color: #665c54;
}
.button{
  background-color: #427b58;
    color: #ebdbb2;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  width: 45%;
  font-family: 'Kreon', serif;
  font-size: 1em;
}


/*
font-family: 'Luckiest Guy', cursive;
font-family: 'Kreon', serif;
*/
