body{
  color: #ebdbb2;
  background-color: #282828;
  margin: -1px;
  font-family: 'Comfortaa', cursive;
}
a:hover{
  color: #83a598;
}
.player{
  background-color: #83a598;
  padding-top: 3px;
  position: fixed;
  bottom: 0;
  width: 75%;
  z-index: 0;
}
audio{
  margin-bottom: -5px;
  width: 100%;
}
.playlist{
  float: right;
  width: 25%;
  height: 100%;
  background-color: #1d2021;
  text-align: center;
}
.playlist ul{
  list-style: none;
  text-transform: capitalize;
}
.button{
  background-color: #427b58;
  color: #ebdbb2;
  border-color: #ebdbb2;
  border-width: thin;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
