body{
  color: #ebdbb2;
  background-color: #504945;
  margin: -1px;
  font-family: 'Comfortaa', cursive;
}
a{
  color: darkseagreen;
}
a:hover{
  color: mediumseagreen;
}
.topBar{
  background-color: #282828;
  margin-top: 0px;
  margin-bottom: 0px;
  color: seagreen;
  height: 1em;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}
.topBar table{
  background-color: #ebdbb2;
}
#topLeft{
  text-align: left;
  width: 50%;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}
#topRight{
  text-align: right;
  width: 50%;
}
.header{
  font-family: 'Ubuntu', sans-serif;
}
.songs table{
  width:75%;
}
center{
  background-color: #282828;
  max-width: 75%;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 2em;
  padding-top: 1em;
  height: 100%;
}
footer{
  font-size: 50%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
a:hover{
  color: #83a598;
}
.player{
  background-color: #83a598;
  padding-top: 3px;
  position: fixed;
  bottom: 0;
  width: 75%;
  z-index: 0;
}
audio{
  margin-bottom: -5px;
  width: 100%;
}
.playlist{
  float: right;
  width: 25%;
  height: 100%;
  background-color: #1d2021;
  text-align: center;
}
.playlist ul{
  list-style: none;
  text-transform: capitalize;
}
input{
  background-color: #ebdbb2;
  border-color: #282828;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #665c54;
}
.button{
  background-color: seagreen;
  color: #ebdbb2;
  border-color: #ebdbb2;
  border-width: thin;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Comfortaa', cursive;
  width: 50%;
}
.button:hover{
  background-color: darkseagreen;
}
.libView .button{
  width: 24%;
}
select {
   border: 0;
   color: #ebdbb2;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #darkseagreen;
}
.even{
  background-color: #504945;
}
.odd{
  background-color: #665c54;
}
table{
  border: none;
}
